<tr name="additem"><td><input type="text" name="Id_prod"/></td><td><input type="text" name="Numb"/></td><td> <input type="text" name="Count_item"/></td></tr>
<tr id="itemprod"><td></td><td></td><td></td></tr>
