
@{
    ViewBag.Title = "info";
}

<h2>info</h2>

<div class="Реквизиты jumbotron text-center " style="font-size:x-large">
    mail- xoiiox@mail.ru т.89606128064<br />
    логин- Sw@mail.ru пароль- Sw@mail.ru
</div>